
    <section class="transmission question " id="faq">
        <h4>FREQUENTLY ASKED QUESTION</h4>
        <h3>COMMON QUESTION & ANSWER</h3>
        <div class="container ">
            <div class="innerQuestions ">
                <div class="left col-lg-4 col-sm-12 ">
                    <button class="active" id="btn1">Coronavirus Disease 2019 Basics <i class="fas fa-caret-right "></i></button>
                    <button id="btn2">How It Spreads <i class="fas fa-caret-right "></i></button>
                    <button id="btn3">How to Protect Yourself <i class="fas fa-caret-right "></i></button>
                    <button id="btn4">Symptoms & Testing <i class="fas fa-caret-right "></i></button>
                    <button id="btn5">Outbreak in Your Community <i class="fas fa-caret-right "></i></button>
                    <button id="btn6">Myth-Busters of coronavirus <i class="fas fa-caret-right "></i></button>
                </div>
                <div class="right col-lg-8 col-sm-12 ">
                    <div class="inner activated" id="sec1">
                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What is a novel coronavirus?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Why is the disease being called coronavirus disease 2019 COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>How can people help stop stigma related to COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Why might someone blame or avoid individuals and groups?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>
                    </div>

                    <div class="inner " id="sec2">
                        <article>
                            <button class="aricleToggleBTN ">
                                <span>How does the virus spread?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What is the source of the virus?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Can someone who has had COVID-19 spread the illness to others?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Can the virus that causes COVID-19 be spread through food, including refrigerated or frozen food?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Can the virus that causes COVID-19 be spread through food, including refrigerated or frozen food?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What is community spread?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>
                    </div>

                    <div class="inner " id="sec3">
                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What can I do to protect myself and prevent the spread of disease?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What should I do if I had close contact with someone who has COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Who is at higher risk for serious illness from COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Should I wear a mask to protect myself?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>
                    </div>

                    <div class="inner " id="sec4">
                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What are the symptoms of COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Should I be tested for COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Where can I get tested for COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Can a person test negative and later test positive for COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Why might someone blame or avoid individuals and groups?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>
                    </div>

                    <div class="inner " id="sec5">
                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What should I do if I had close contact with someone who has COVID-19?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>How do I prepare my children in case of COVID-19 outbreak in our community?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>What steps should parents take to protect children during a community outbreak?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Will schools be dismissed if there is an outbreak in my community?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Can the virus that causes COVID-19 be spread through food, including refrigerated or frozen food?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Should I go to work if there is an outbreak in my community?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>
                    </div>

                    <div class="inner " id="sec6">
                        <article>
                            <button class="aricleToggleBTN ">
                                <span>COVID-19 virus can be transmitted in areas with hot and humid climates?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Cold weather and snow CANNOT kill the new coronavirus</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Taking a hot bath does not prevent the new coronavirus disease</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>The new coronavirus CANNOT be transmitted through mosquito bites.</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Are hand dryers effective in killing the new coronavirus?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>

                        <article>
                            <button class="aricleToggleBTN ">
                                <span>Can an ultraviolet disinfection lamp kill the new coronavirus?</span>
                                <span class="icon "><i class="fas fa-plus "></i></span>
                            </button>
                            <div class="article ">
                                <p>On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus
                                    disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
                                <P>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the <span>coronaviruses that commonly circulate among humans </span>and
                                    cause mild illness, like the common cold.</P>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(() => {
    /*--------------------------- BTNs & Articls ---------------------------*/
    /* Variabls */
    var articlBTNs = $('.question .innerQuestions .right .inner .aricleToggleBTN');
    var articles = $('.question .innerQuestions .right .inner div');
    var icons = $('.question .innerQuestions .right .inner .aricleToggleBTN .icon');
    /* Finction */
    articlBTNs.click(function() {

        articlBTNs.removeClass('active');

        articles.slideUp();
        this.children[1].innerHTML = "<i class=\"fas fa-plus\"></i>";
        icons.html("<i class=\"fas fa-plus\"></i>");

        if ($(this).next().css("display") == "none") {
            $(this).next().slideDown();
            this.children[1].innerHTML = "<i class=\"fas fa-minus\"></i>";
            $(this).addClass('active');
        } else {
            $(this).next().slideUp();
            this.children[1].innerHTML = "<i class=\"fas fa-plus\"></i>";
        }

    })

    /*--------------------------- BTNs & Articls ---------------------------*/
    /* Variabls */
    var sideBTNs = [$('.question .innerQuestions .left #btn1'),
        $('.question .innerQuestions .left #btn2'),
        $('.question .innerQuestions .left #btn3'),
        $('.question .innerQuestions .left #btn4'),
        $('.question .innerQuestions .left #btn5'),
        $('.question .innerQuestions .left #btn6'),
    ];
    var allSideBTNs = $('.question .innerQuestions .left button');
    var sections = [
        $('.question .innerQuestions .right #sec1'),
        $('.question .innerQuestions .right #sec2'),
        $('.question .innerQuestions .right #sec3'),
        $('.question .innerQuestions .right #sec4'),
        $('.question .innerQuestions .right #sec5'),
        $('.question .innerQuestions .right #sec6')
    ];
    var allSections = $('.question .innerQuestions .right .inner');

    sideBTNs[0].click(function() {
        sectionViewer(0);
    })

    sideBTNs[1].click(function() {
        sectionViewer(1);
    })

    sideBTNs[2].click(function() {
        sectionViewer(2);
    })

    sideBTNs[3].click(function() {
        sectionViewer(3);
    })

    sideBTNs[4].click(function() {
        sectionViewer(4);
    })

    sideBTNs[5].click(function() {
        sectionViewer(5);
    })


    function sectionViewer(x) {
        allSideBTNs.removeClass('active');
        sideBTNs[x].addClass('active');

        allSections.fadeOut(50);
        sections[x].fadeIn(1000);
    }
})
    </script>