<mobile-nav></mobile-nav>
<header id="home">
    <app-nav></app-nav>
    <div class="container-m">
        <section class="col-sm-12">
            <div class="headinner">
                <div class="left col-lg-6 col-sm-12">
                    <div class="col-sm-11">
                        <div class="welcome">
                            <h2>CORONA</h2>
                            <div>
                                <p>COVID-19</p>
                                <p><span>VIRUS</span></p>
                            </div>
                        </div>
                        <p class="messages">The coronavirus (COVID-19) was first reported in Wuhan, hubei, china in december 2019, the outbreak was later recognized as a pandemic by the World Health organization (WHO) on 11 march 2020.</p>
                        <div class="col-sm-12 links my-5">
                            <a class="linkBTN">How to protect <i class="fas fa-shield-alt"></i></a>
                            <a class="link">About COVID-19 <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="numbers col-sm-12">
                            <div class="col-md-4 col-sm-12 nums">
                                <p>WORLDWIDECASES</p>
                                <p class="num">8,949,671</p>

                            </div>
                            <div class="col-md-4 col-sm-12 nums">
                                <p>DEATHS</p>
                                <p class="num">467,432</p>

                            </div>
                            <div class="col-md-4 col-sm-12 nums">
                                <p>RECOVERED</p>
                                <p class="num">4,556,091</p>

                            </div>
                        </div>
                        <p class="notes pt-5">* Last updated: Jun 21, 2020, 09:24 AM America/Chicago</p>
                    </div>
                </div>
                <div class="right col-lg-6 col-sm-12">
                    <img src="../assets/photos/header-a.png">
                </div>
            </div>
        </section>
    </div>
</header>