
    <footer>
        <div class="layout ">
            <div class="container ">
                <div class="innerFooter ">
                    <div class="col-lg-4 col-sm-12 ">
                        <div class="inner main ">
                            <h1>C<i class="fas fa-virus "></i>vid 19</h1>
                            <p>This website is for health information and advice about coronavirus (COVID-19), how to prevent and protect yourself from disease.</p>
                            <p>Learn about the government response to coronavirus on GOV.UK.</p>
                            <div class="links ">
                                <a href="# "><i class="fab fa-facebook-f "></i></a>
                                <a href="# "><i class="fab fa-twitter "></i></a>
                                <a href="# "><i class="fab fa-youtube "></i></a>
                            </div>
                            <hr>
                            <div class="colorizing">
                                <div class="blue" titleName="Blue">
                                    <p>Blue</p>
                                </div>
                                <div class="red" titleName="red">
                                    <p>Red</p>
                                </div>
                                <div class="purble" titleName="Pink">
                                    <p>Pink</p>
                                </div>
                                <div class="cyan" titleName="cyan">
                                    <p>cyan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-12 col-lg-2 col-md-4 ">
                        <div class="inner qLinks ">
                            <h4>QUICK LINKS</h4>
                            <div class="links ">
                                <ul>
                                    <li>About Corona</li>
                                    <li>Symptoms</li>
                                    <li>Prevention</li>
                                    <li>Protect Youself</li>
                                    <li>FAQs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-12 col-lg-3 col-md-4 ">
                        <div class="inner qLinks helpLinks ">
                            <h4>HELPING LINKS</h4>
                            <div class="links ">
                                <ul>
                                    <li>Healthcare Professionals</li>
                                    <li>Healthcare Facilities</li>
                                    <li>Older Adults & Medical Conditions</li>
                                    <li>Repare your Family</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-12 col-lg-3 col-md-4 ">
                        <div class="inner qLinks helpLinks ">
                            <h4>IMPORTANT LINKS</h4>
                            <div class="links ">
                                <ul>
                                    <li>WHO Website</li>
                                    <li>CDC Website</li>
                                    <li>NHS Website</li>
                                    <li>Harvard Health</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyRight ">
                    <p>© 2020 COVID-19. Template Made by <span>Mohammed Atef</span>.</p>
                    <p>Disclaimer: We hope you find the information presented on this website useful. This website is for general information and raise awareness of (2019-nCoV) only. All the information based on WHO, NHS and CDC website. Information on our
                        website is meant for awareness, if you have any doubt please verify from respective site</p>
                </div>
            </div>
        </div>
    </footer>