
    <section class="traetment " id="treat">
        <div class="layout col-sm-12 ">
            <div class="container ">
                <div class="innerTreat ">
                    <div class="left col-lg-7 col-md-12 ">
                        <h4>BE CAREFULL & STAY SAFE</h4>
                        <h3>TREATMENT FOR CORONAVIRUS</h3>
                        <p><b>To date, there is no vaccine and no specific antiviral medicine to prevent or treat COVID-2019.</b><br> However, those affected should receive care to relieve symptoms. People with serious illness should be hospitalized. Most
                            patients recover thanks to supportive care.</p>
                        <p>Antibiotics do not help, as they do not work against viruses. Treatment aims to relieve the symptoms while your body fights the illness. You'll need to stay in isolation, away from other people, until you have recovered.</p>
                    </div>
                    <div class="right col-lg-5 col-md-12 ">
                        <div class="rightInner ">
                            <p><b>Self Care</b></p>
                            <p>If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:</p>
                            <ul class="mb-2 ">
                                <li><i class="fas fa-arrow-right "></i> Rest and sleep</li>
                                <li><i class="fas fa-arrow-right "></i> Keep warm</li>
                                <li><i class="fas fa-arrow-right "></i> Drink plenty of liquids</li>
                                <li><i class="fas fa-arrow-right "></i> Use a room humidifier or take a hot shower to help ease a sore throat and cough</li>
                            </ul>
                            <p class="mb-2 "><b>Medical Treatments</b></p>
                            <p>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider of any recent travel or recent contact with travelers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>