
    <section class="about">
        <div class="container">
            <div class="aboutinner">
                <div class="left col-lg-6 col-xs-12" data-aos="fade-right">
                    <p>ABOUT THE DISEASE</p>
                    <h3>CORONAVIRUS (COVID-19)</h3>
                    <p>COVID-19 is a new illness that can affect your lungs and airways.</p>
                    <p>It's caused by a virus called coronavirus. It was discovered in December 2019 in Wuhan, Hubei, China.</p>
                    <p>Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure and even death.</p>
                    <p>Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs. Avoid close contact with anyone showing symptoms of respiratoryillness
                        such as coughing and sneezing.</p>
                </div>
                <div class="right col-lg-4 col-sm-12" data-aos="fade-left">
                    <div class="links col-sm-12">
                        <ul>
                            <li>
                                <p>What you need to know?</p>
                            </li>
                            <li class="moveAbout3"><a>How coronavirus is spread <i class="fas fa-arrow-right"></i></a></li>
                            <li class="moveSymp3"><a>Symptoms of coronavirus <i class=" fas fa-arrow-right "></i></a></li>
                            <li class="movePrev3"><a>How to protect yourself <i class="fas fa-arrow-right "></i></a></li>
                            <li class="moveTreat3"><a>Treatment for coronavirus <i class="fas fa-arrow-right "></i></a></li>
                            <li><a>Myth-Busters of coronavirus <i class="fas fa-arrow-right "></i></a></li>
                            <li class="moveFAQ3"><a>Questions & answers <i class="fas fa-arrow-right "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>