
    <section class="transmission doDont " id="doDont">
        <h4>DO’S & DON’TS</h4>
        <h3>PROTECT YOURSELF</h3>
        <p class="prag ">
            The best thing you can do now is plan for how you can adapt your daily routine. Take few steps to protect yourself as Clean your hands often, Avoid close contact, Cover coughs and sneezes, clean daily used surfaces etc. The best way to prevent illness
            is to avoid being exposed to this virus</p>
        <div class="container ">
            <div class="inner ">

                <div class="dont col-lg-3 col-md-6 col-sm-12 ">
                    <div class="orders " data-aos="fade-right">

                        <div class="order ">
                            <p>Avoid Close Contact</p>
                            <div>
                                <i class="fas fa-times-circle "></i>
                                <img src="../../assets/photos/dont1.png ">
                            </div>
                        </div>

                        <div class="order ">
                            <p>Don’t Touch Face</p>
                            <div>
                                <i class="fas fa-times-circle "></i>
                                <img src="../../assets/photos/dont2.png ">
                            </div>
                        </div>

                        <div class="order ">
                            <p>Social Distancing</p>
                            <div>
                                <i class="fas fa-times-circle "></i>
                                <img src="../../assets/photos/dont3.png ">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="centerIMG col-lg-6 " data-aos="fade-up">
                    <img src="../../assets/photos/doMaim.png " width="100% ">
                </div>

                <div class="do col-lg-3 col-md-6 col-sm-12 " data-aos="fade-left">
                    <div class="orders ">

                        <div class="order ">
                            <p>Wash Your Hands</p>
                            <div>
                                <i class="fas fa-check-circle "></i>
                                <img src="../../assets/photos/do1.png ">
                            </div>
                        </div>

                        <div class="order ">
                            <p>Drink Much Watar</p>
                            <div>
                                <i class="fas fa-check-circle "></i>
                                <img src="../../assets/photos/do2.png ">
                            </div>
                        </div>

                        <div class="order ">
                            <p>Use Face Mask</p>
                            <div>
                                <i class="fas fa-check-circle "></i>
                                <img src="../../assets/photos/do3.png ">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>