
    <section class="mobileNav">
        <button class="clsBTN" id="phoneNavClose">
            <i class="far fa-times-circle"></i>
        </button>
        <ul>
            <li class="mobHome"><a>Home</a></li>
            <li class="mobAbout"><a>About Corona</a></li>
            <li class="mobSymp"><a>Symptoms</a></li>
            <li class="mobPrevent"><a>Prevention</a></li>
            <li class="mobTreat"><a>Treatment</a></li>
            <li class="mobFAQ"><a>FAQ</a></li>
            <li class="mobNews"><a>News</a></li>
            <li class="mobDo"><a>Do & Don't</a></li>
        </ul>
        <div class="left">
        </div>
        <div class="right">
        </div>
    </section>