<nav>
    <div class="logo">
        <h1>C<span><i class="fas fa-virus"></i></span>VID<span class="num19">19</span></h1>
    </div>
    <ul>
        <li class="active homeNAV"><a>home</a></li>
        <li class="aboutNAV"><a>About Corona</a></li>
        <li class="sympNAV"><a>Symptoms</a></li>
        <li class="prevNAV"><a>Prevention</a></li>
        <li class="treatNAV"><a>Treatment</a></li>
        <li class="faqNAV"><a>FAQ</a></li>
        <li class="newsNAV"><a>News</a></li>
        <li class="doNAV"><a>Do & Don't</a></li>
    </ul>
    <div class="mobileNavBTN" id="MNV">
        <button class="MNB">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>