
    <section class="transmission symptomps prevent " id="prevent">
        <h4>HOW TO PROTECT YOURSELF</h4>
        <h3>PREVENTION & ADVICE</h3>
        <p class="prag ">There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19). The best way to prevent illness is to avoid being exposed to this virus. Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website
            and through your national and local public health authority.</p>

        <div class="container ">
            <div class="cards col-sm-12 ">
                <div class="col-lg-3 col-md-6 inner " data-aos="fade-right">
                    <div>
                        <img src="../../assets/photos/prev1.png ">
                        <div>
                            <h5>Wash your hands frequently</h5>
                            <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 inner " data-aos="fade-right">
                    <div>
                        <img src="../../assets/photos/prev2.png ">
                        <div>
                            <h5>Maintain social distancing</h5>
                            <p>Maintain at least 1 metre (3 feet) distance between yourself & anyone who is coughing or sneezing. If you are too close, get chance to infected.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 inner " data-aos="fade-left">
                    <div>
                        <img src="../../assets/photos/prev3.png ">
                        <div>
                            <h5>Avoid touching face</h5>
                            <p>Hands touch many surfaces and can pick up viruses. So, hands can transfer the virus to your eyes, nose or mouth and can make you sick.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 inner " data-aos="fade-left">
                    <div>
                        <img src="../../assets/photos/prev4.png ">
                        <div>
                            <h5>Practice respiratory hygiene</h5>
                            <p>Maintain good respiratory hygiene as covering your mouth & nose with your bent elbow or tissue when cough or sneeze.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="questBTN ">
            <button>Check How To Wash Your Hand <i class="fas fa-arrow-right "></i></button>
            <a>About  COVID-19 <i class="fas fa-arrow-right "></i></a>
        </div>

        <div class="container ">
            <div class="innersteps " data-aos="zoom-in-up" data-aos-duration="1500">
                <div class="steps px-5 col-lg-8 col-md-12 ">
                    <p><i class="fas fa-check-circle "></i> <b>Stay home if you’re sick</b> – Stay home if you are sick, except to get medical care.</p>
                    <p><i class="fas fa-check-circle "></i> <b>Cover your mouth and nose</b> – with a tissue when you cough or sneeze (throw used tissues in the trash) or use the inside of your elbow.</p>
                    <p><i class="fas fa-check-circle "></i> <b>Wear a facemask if you are sick</b> – You should wear a facemask when you are around other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s</p>
                    <p><i class="fas fa-check-circle "></i> <b>Clean AND disinfect frequently touched surfaces daily</b> – This includes phones, tables, light switches, doorknobs, countertops, handles, desks, toilets, faucets, and sinks.</p>
                    <p><i class="fas fa-check-circle "></i> <b>Clean the dirty surfaces</b> – Use detergent or soap and water prior to disinfection.</p>
                    <p><i class="fas fa-check-circle "></i> <b>Stay informed about the local COVID-19 situation</b> – Get up-to-date information about local COVID-19 activity from <a href="https://www.unicef.org/ar/فيروس-كورونا " target="_blanck ">public health officials</a>.</p>
                    <p><i class="fas fa-check-circle "></i> <b>Dedicated, lined trash can</b> – If possible, dedicate a lined trash can for the ill person. Use gloves when removing garbage bags, and handling & disposing of trash.</p>
                </div>
                <div class="img col-lg-4 ">
                    <img src="../../assets/photos/steps.png " width="100% ">
                </div>
            </div>

            <div class="washHands ">
                <h3>PREVENTION & ADVICE</h3>
                <div class="questBTN "><a href=" ">Why do I need wash hand <i class="fas fa-arrow-right "></i></a></div>
                <div class="washStepsCard ">
                    <div class="col-lg-2 col-md-4 col-sm-6 " data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="innerWashCard ">
                            <img src="../../assets/photos/wash1.png ">
                            <p>Soap on Hand</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 " data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="innerWashCard ">
                            <img src="../../assets/photos/wash2.png ">
                            <p>Palm to Palm</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 " data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="innerWashCard ">
                            <img src="../../assets/photos/wash3.png ">
                            <p>Between Fingers</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 " data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="innerWashCard ">
                            <img src="../../assets/photos/wash4.png ">
                            <p>Back to Hands</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 " data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="innerWashCard ">
                            <img src="../../assets/photos/wash5.png ">
                            <p>Clean with Water</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 " data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="innerWashCard ">
                            <img src="../../assets/photos/wash6.png ">
                            <p>Focus on Wrist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>