
    <section class="wariningMSG">
        <div class="container">
            <div class="warn">
                <div class="col-lg-1 warnICON pt-4" data-aos="fade-right"><i class="fas fa-exclamation-triangle"></i></div>
                <div class="col-lg-5 msg p-3 " data-aos="fade-up">
                    <p style="color: var(--normal-font-color)"><span>Stay at home and call your doctor:</span> If you think you have been exposed to COVID-19 and develop a fever and any symptoms, such as cough or difficulty breathing, call your healthcare provider as soon as possible for medical
                        advice.
                    </p>
                </div>
                <div class="questBTN col-lg-6 " data-aos="fade-left">
                    <button><i class="far fa-question-circle "></i> Have question? Find answer.</button>
                </div>
            </div>
        </div>
    </section>